<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <add key="keyvault-uri" value="" />

    <add key="keyvault-clientId" value="" />    
    <add key="keyvault-thumbprint" value="" />
    
    <add key="keyvault-clientid1" value=""/>
    <add key="keyvault-secret1" value=""/>
 
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>